body {
  margin: 0;
  padding: 0;
  background: #e5e5e5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px auto;
      grid-template-columns: 300px auto;
  font-family: "Manrope", sans-serif;
}

body .main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  padding: 20px 30px 20px 20px;
}

body .main .taskIntro .taskName {
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

body .main .taskIntro .taskItems {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0;
  padding: 0;
}

body .main .taskIntro .taskItems > li {
  font-size: 12px;
  font-weight: 600;
  padding: 0 12px 0 0;
  color: #999999;
}

body .main .taskIntro .taskItems > li > i {
  color: #000;
}

body .main .taskPosted .postHead {
  font-size: 14px;
  margin-bottom: 6px;
}

body .main .taskPosted .taskPosterProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .taskPosted .taskPosterProfile .profileImage {
  width: 26px;
  height: 26px;
  margin: 0 10px 0 0;
}

body .main .taskPosted .taskPosterProfile .profileName {
  font-size: 14px;
  font-weight: 600;
  color: #2770fb;
  text-decoration: underline;
}

body .main .taskPosted .taskPosterProfile .profileWork {
  font-size: 12px;
}

body .main .taskCompletebtn {
  grid-column: 1/-1;
}

body .main .taskCompletebtn .taskButton {
  width: 104px;
  height: 34px;
  background: #2770fb;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: none;
}

body .main .taskCompletebtn .taskButton:hover {
  background: #053fac;
  cursor: pointer;
}

body .main .taskCompletebtn .taskButton:active {
  background: #001c4e;
}

body .main .taskBody {
  margin-top: 45px;
  grid-column: 1/-1;
}

body .main .taskBody .taskTabHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-size: 14px;
  color: #333333;
  padding: 0;
  margin: 0;
}

body .main .taskBody .taskTabHead .taskTabItem {
  padding: 7px 24px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border-radius: 4px 4px 0 0;
}

body .main .taskBody .taskTabHead .taskTabItem:hover {
  cursor: pointer;
  background: whitesmoke;
}

body .main .taskBody .taskTabHead .active {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  background: #fff;
  color: #333333;
  font-weight: 700;
}

body .main .taskBody .taskTabContent {
  background: #fff;
  border-radius: 4px;
  min-height: 50vh;
}

body .main .taskBody .taskTabContent .calander {
  padding: 20px 30px;
}

body .main .taskBody .taskTabContent .calander .taskUpdateButton {
  display: block;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2770fb;
  width: 50px;
  margin-left: auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body .main .taskBody .taskTabContent .calander .taskUpdateButton:hover {
  cursor: pointer;
  color: #053fac;
}

body .main .taskBody .taskTabContent .calander .taskUpdateButton:active {
  color: #001c4e;
}

body .main .taskBody .taskTabContent .calander .calendarList {
  margin: 25px 0 0 0;
  padding: 0 0 0 16px;
  list-style-type: none;
}

body .main .taskBody .taskTabContent .calander .calendarList .calendarItem {
  margin: 0 0 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main .taskBody .taskTabContent .calander .calendarList .calendarItem .calendarItemDate {
  color: #333333;
  font-weight: 600;
}

body .main .taskBody .taskTabContent .calander .calendarList .calendarItem .calendarItemDate .date {
  font-size: 24px;
}

body .main .taskBody .taskTabContent .calander .calendarList .calendarItem .calendarItemDate .month {
  font-size: 14px;
}

body .main .taskBody .taskTabContent .calander .calendarList .calendarItemShedule {
  margin: 0 0 0 51px;
  padding: 10px 24px;
  width: 100%;
}

body .main .taskBody .taskTabContent .calander .calendarList .calendarItemShedule .sheduleTime {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #333333;
  background: rgba(39, 112, 251, 0.1);
  border-radius: 84px;
  width: 150px;
  height: 30px;
  margin: 3px 4px;
  color: #333333;
}

body .main .taskBody .taskTabContent .shedule .sheduleList {
  width: 100%;
}

body .main .taskBody .taskTabContent .shedule .sheduleList .sheduleNav {
  border-bottom: 1px solid #cccccc;
}

body .main .taskBody .taskTabContent .shedule .sheduleList .sheduleNav .sheduleNavItems {
  padding: 10px 0;
  font-size: 14px;
  color: #333333;
  text-align: center;
}

body .main .taskBody .taskTabContent .shedule .sheduleList .sheduleNav .sheduleNavItems:nth-child(1) {
  padding-left: 30px;
  text-align: left;
  width: 33%;
}

body .main .taskBody .taskTabContent .shedule .sheduleList .sheduleListItems .sheduleListComponents {
  margin: 10px 0;
  text-align: center;
}

body .main .taskBody .taskTabContent .shedule .sheduleList .sheduleListItems .sheduleListComponents:nth-child(1) {
  padding-left: 30px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

body .main .taskBody .taskTabContent .shedule .sheduleList .sheduleListItems .sheduleListComponents .sheduleItemDate {
  color: #333333;
  font-weight: 600;
}

body .main .taskBody .taskTabContent .shedule .sheduleList .sheduleListItems .sheduleListComponents .sheduleItemDate .date {
  font-size: 24px;
}

body .main .taskBody .taskTabContent .shedule .sheduleList .sheduleListItems .sheduleListComponents .sheduleItemDate .month {
  font-size: 14px;
}

body .main .taskBody .taskTabContent .shedule .sheduleList .sheduleListItems .sheduleListComponents .sheduleTime {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #333333;
  background: rgba(39, 112, 251, 0.1);
  border-radius: 84px;
  width: 150px;
  height: 30px;
  margin: 0 0 0 21px;
  color: #333333;
}

body .main .taskBody .taskTabContent .shedule .sheduleList .sheduleListItems .sheduleListComponents .completed {
  width: 100px;
  height: 32px;
  font-size: 12px;
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #038300;
  background: rgba(3, 131, 0, 0.1);
  border-radius: 4px;
}

body .main .taskBody .taskTabContent .shedule .sheduleList .sheduleListItems .sheduleListComponents .feedback {
  font-weight: 600;
  font-size: 14px;
  color: #2770fb;
  text-decoration: underline;
}

body .main .taskBody .taskTabContent .shedule .sheduleList .sheduleListItems .sheduleListComponents .feedback:hover {
  cursor: pointer;
  color: #053fac;
}

body .main .taskBody .taskTabContent .shedule .sheduleList .sheduleListItems .sheduleListComponents .feedback:active {
  color: #001c4e;
}

body .main .taskBody .taskTabContent .feedback {
  padding: 20px;
}

body .main .taskBody .taskTabContent .feedback .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

body .main .taskBody .taskTabContent .feedback .completedOn {
  padding: 0 10px;
}

body .main .taskBody .taskTabContent .feedback .completedOn .feedbackProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

body .main .taskBody .taskTabContent .feedback .completedOn .feedbackProfile .feedbackProfileImage {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

body .main .taskBody .taskTabContent .feedback .completedOn .feedbackProfile .feedbackProfileName {
  font-weight: bold;
  font-size: 14px;
  color: #333333;
}

body .main .taskBody .taskTabContent .feedback .completedOn .feedbackVedio {
  background: #eeeeee;
  padding: 15px;
}

body .main .taskBody .taskTabContent .feedback .completedOn .feedbackVedio .vedio {
  display: inline-block;
  width: 176px;
  height: 104px;
}

body .main .taskBody .taskTabContent .feedback .completedOn .feedbackVedio .recommendVedio {
  font-size: 12px;
  color: #333333;
}

body .main .taskBody .taskTabContent .feedback .completedOn .feedbackVedio .yes,
body .main .taskBody .taskTabContent .feedback .completedOn .feedbackVedio .no {
  margin: 6px 0;
  width: 85px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body .main .taskBody .taskTabContent .feedback .completedOn .feedbackVedio .no {
  background: #bb0000;
}

body .main .taskBody .taskTabContent .feedback .completedOn .feedbackVedio .no:hover {
  background: #d60808;
  cursor: pointer;
}

body .main .taskBody .taskTabContent .feedback .completedOn .feedbackVedio .no:active {
  background: #6d0606;
}

body .main .taskBody .taskTabContent .feedback .completedOn .feedbackVedio .yes {
  background: green;
}

body .main .taskBody .taskTabContent .feedback .completedOn .feedbackVedio .yes:hover {
  cursor: pointer;
  background: #05a205;
}

body .main .taskBody .taskTabContent .feedback .completedOn .feedbackVedio .yes:active {
  background: #014b01;
}

body .main .taskBody .taskTabContent .feedback .completedOn .feedbackVedio .completedDate {
  font-size: 10px;
  color: #333333;
}

body .main .taskBody .taskTabContent .feedback .feedbackSkills {
  padding: 0 10px;
}

body .main .taskBody .taskTabContent .feedback .feedbackSkills .skillHead {
  font-weight: bold;
  font-size: 14px;
  color: #333333;
}

body .main .taskBody .taskTabContent .feedback .feedbackSkills .skillBody {
  padding: 10px;
}

body .main .taskBody .taskTabContent .feedback .feedbackSkills .skillBody .skillItem {
  margin: 5px 0;
}

body .main .taskBody .taskTabContent .feedback .feedbackSkills .skillBody .skillItem .skillItemName,
body .main .taskBody .taskTabContent .feedback .feedbackSkills .skillBody .skillItem .skillItemPercent {
  font-size: 12px;
  color: #333333;
}

body .main .taskBody .taskTabContent .feedback .feedbackSkills .skillBody .skillItem .skillItemBar {
  width: 163px;
  height: 4px;
}

body .main .taskBody .taskTabContent .feedback .feedbackSkills .skillBody .skillItem .skillItemBar .successbar {
  height: 4px;
  background: #2770fb;
  border-radius: 4px;
}

body .main .taskBody .taskTabContent .feedback .feedbackRecommendations,
body .main .taskBody .taskTabContent .feedback .feedbackFeedback {
  padding: 0 10px;
  margin-top: 14px;
}

body .main .taskBody .taskTabContent .feedback .feedbackRecommendations .recommendationHead,
body .main .taskBody .taskTabContent .feedback .feedbackRecommendations .feedbackHead,
body .main .taskBody .taskTabContent .feedback .feedbackFeedback .recommendationHead,
body .main .taskBody .taskTabContent .feedback .feedbackFeedback .feedbackHead {
  font-size: 14px;
  color: #333333;
}

body .main .taskBody .taskTabContent .feedback .feedbackRecommendations .recommendationBody,
body .main .taskBody .taskTabContent .feedback .feedbackRecommendations .feedbackBody,
body .main .taskBody .taskTabContent .feedback .feedbackFeedback .recommendationBody,
body .main .taskBody .taskTabContent .feedback .feedbackFeedback .feedbackBody {
  padding: 6px 0px;
}

body .main .taskBody .taskTabContent .feedback .feedbackRecommendations .recommendationBody .recommendationItems,
body .main .taskBody .taskTabContent .feedback .feedbackRecommendations .recommendationBody .feedbackItems,
body .main .taskBody .taskTabContent .feedback .feedbackRecommendations .feedbackBody .recommendationItems,
body .main .taskBody .taskTabContent .feedback .feedbackRecommendations .feedbackBody .feedbackItems,
body .main .taskBody .taskTabContent .feedback .feedbackFeedback .recommendationBody .recommendationItems,
body .main .taskBody .taskTabContent .feedback .feedbackFeedback .recommendationBody .feedbackItems,
body .main .taskBody .taskTabContent .feedback .feedbackFeedback .feedbackBody .recommendationItems,
body .main .taskBody .taskTabContent .feedback .feedbackFeedback .feedbackBody .feedbackItems {
  margin: 0 0 10px 0;
  padding: 6px 10px;
  font-size: 12px;
  color: #333333;
  width: 95%;
  min-height: 30px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}
/*# sourceMappingURL=style.css.map */